* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    overflow: hidden;
}

section {

    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0);
    margin-top: -160px;

}

.container {

    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.left {

    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: url("/src/assets/Avatar.jpg") no-repeat center / cover ;

}

.right {

    width: 50%;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;

}

.horizontal-container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    bottom: 64px;
    right: -32px;
    left: 32px;
    position: absolute;

}

.outlined-button {

    background-color: transparent;
    color: gray;
    border: 2px solid gray;
    padding: 10px 20px;
    font-size: 16px;
    width: 40%;
    margin-bottom: 0;
    margin-right: 32px;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}

.outlined-button:hover {

    color: white;
    border: 2px solid white;

}

.filled-button {

    border: none;
    background-color: white;
    padding: 14px 20px;
    font-size: 16px;
    width: 40%;
    color: #111111;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}

.filled-button:hover { background-color: #8770c0; }


@media screen and (max-height: 771px) {


    .left {

        width: 125px;
        height: 125px;
        margin-top: 30%;
        border-radius: 50%;
        background: url("/src/assets/Avatar.jpg") no-repeat center / cover ;

    }

    .right {

        width: 50%;
        min-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        color: white;

    }

    .filled-button {

        padding: 10px 16px;
        font-size: 12px;
        width: 40%;
        border-radius: 10px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;

    }

    .horizontal-container {
        bottom: 20px;
    }

    .outlined-button {

        border: 2px solid gray;
        padding: 8px 16px;
        font-size: 12px;
        width: 40%;
        margin-bottom: 0;
        border-radius: 10px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;

    }
}

@media screen and (max-width: 768px) and (min-height: 600px) {
    .left {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 768px) {

    .section {
        min-height: 180vh;
    }

    .container {
        flex-direction: column;
        margin-top: -60px;
    }

    .horizontal-container {
        flex-direction: column;
        left: 12px;
    }

    .outlined-button {
        margin-right: 0;
        margin-bottom: 16px;
    }


    .right {
        width: 100%;
    }

    .outlined-button {
        width: 90%;
    }

    .filled-button {
        width: 90%;
    }

}

